.header__mainContainer {
  display: flex;
  justify-content: center;
  background-color: aliceblue; }
  .header__mainContainer .header__imgContainer img {
    width: 300px;
    position: relative;
    left: 25px; }

@media only screen and (max-width: 992px) {
  .header__mainContainer .header__imgContainer img {
    position: relative;
    left: 45px; } }

.nav2__container {
  background-color: black;
  padding: 3px 0px 3px 0px; }
  .nav2__container .nav2__divContainer .navbar-nav {
    align-items: center; }
  .nav2__container .nav2__divContainer .nav2__divElements a {
    margin-right: 35px;
    margin-left: 35px; }

.navbar-dark .navbar-toggler {
  border-color: black;
  background-color: black; }

.navbar-dark .navbar-nav .nav-link {
  color: white; }

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link.active {
  color: yellow;
  font-weight: bold; }

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: yellow; }

@media only screen and (max-width: 992px) {
  .nav2__container {
    padding: 3px 0px 3px 15px; }
    .nav2__container .nav2__divContainer .nav2__divElements a {
      margin-left: 0px; } }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: center; } }

.home__mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: white; }
  .home__mainContainer .home__articleContainer {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 25px 0px 20px 0px;
    padding: 0px 20px 0px 20px; }
    .home__mainContainer .home__articleContainer .home__divFirst {
      margin-bottom: 20px; }
    .home__mainContainer .home__articleContainer .home__divThird {
      margin-top: 20px; }
      .home__mainContainer .home__articleContainer .home__divThird ol li {
        font-size: 18px;
        font-weight: 600; }
      .home__mainContainer .home__articleContainer .home__divThird .home__imgContainer {
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 20px; }
        .home__mainContainer .home__articleContainer .home__divThird .home__imgContainer img {
          width: 240px; }
    .home__mainContainer .home__articleContainer .home__divSecond {
      margin-top: 95px; }
    .home__mainContainer .home__articleContainer .home__divFourth {
      margin-top: 40px; }
  .home__mainContainer h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: blue;
    background-image: linear-gradient(180deg, blue, #42a6af);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  .home__mainContainer p {
    display: flex;
    text-align: justify;
    font-size: 18px;
    font-weight: 600; }

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding: 15px 0px 15px 0px; }
  .footer__container h2 {
    letter-spacing: 4px;
    text-transform: uppercase; }
  .footer__container .footer__subContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: stretch;
    flex-wrap: wrap; }
    .footer__container .footer__subContainer .footer__anchorContainer {
      position: relative;
      bottom: 25px; }
      .footer__container .footer__subContainer .footer__anchorContainer div img {
        position: relative;
        left: 30px; }
    .footer__container .footer__subContainer div {
      text-align: center;
      flex-direction: column;
      text-transform: uppercase;
      width: 210px;
      margin-top: 15px;
      margin-bottom: 15px;
      position: relative;
      top: 10px; }
      .footer__container .footer__subContainer div h3 {
        margin: auto; }
      .footer__container .footer__subContainer div a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        color: white; }
      .footer__container .footer__subContainer div p {
        margin-bottom: 0px;
        text-align: left;
        padding-left: 34px; }
  .footer__container .footer__seguinos h3 {
    text-transform: uppercase;
    padding: 0px 15px 0px 15px; }
  .footer__container .footer__seguinos div {
    display: flex;
    justify-content: space-around;
    padding: 0px 20px 0px 20px; }
