.header__mainContainer {
  display: flex;
  justify-content: center;
  background-color: aliceblue; }
  .header__mainContainer .header__imgContainer {
    display: flex;
    justify-content: center;
    width: 250px; }
    .header__mainContainer .header__imgContainer img {
      width: 200px; }

.nav2__container {
  background-color: black;
  padding: 3px 0px 3px 0px; }
  .nav2__container .nav2__divContainer .navbar-nav {
    align-items: center; }
  .nav2__container .nav2__divContainer .nav2__divElements a {
    margin-right: 35px;
    margin-left: 35px; }

.navbar-dark .navbar-toggler {
  border-color: black;
  background-color: black; }

.navbar-dark .navbar-nav .nav-link {
  color: white; }

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link.active {
  color: yellow;
  font-weight: bold; }

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: yellow; }

@media only screen and (max-width: 992px) {
  .nav2__container {
    padding: 3px 0px 3px 15px; }
    .nav2__container .nav2__divContainer .nav2__divElements a {
      margin-left: 0px; } }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: center; } }

.home__mainContainer {
  display: flex;
  justify-content: center;
  background-image: url("../images/background2.svg");
  background-size: 90px;
  background-repeat: repeat;
  background-color: white; }
  .home__mainContainer .home__articleContainer {
    display: flex;
    flex-direction: column;
    width: 60%; }
    .home__mainContainer .home__articleContainer .home__divFirstContainer {
      display: flex;
      justify-content: flex-start;
      padding-top: 30px; }
      .home__mainContainer .home__articleContainer .home__divFirstContainer .home__divFirst {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
        text-align: left; }
    .home__mainContainer .home__articleContainer .home__divSecondContainer {
      display: flex;
      justify-content: flex-end;
      padding-top: 50px; }
      .home__mainContainer .home__articleContainer .home__divSecondContainer .home__divSecond {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 70%;
        text-align: right; }
    .home__mainContainer .home__articleContainer .home__divThirdContainer {
      display: flex;
      justify-content: flex-start;
      padding-top: 50px; }
      .home__mainContainer .home__articleContainer .home__divThirdContainer .home__divThird {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 70%;
        text-align: left; }
        .home__mainContainer .home__articleContainer .home__divThirdContainer .home__divThird ol {
          font-size: 18px;
          font-weight: 600;
          max-width: 470px; }
          .home__mainContainer .home__articleContainer .home__divThirdContainer .home__divThird ol li {
            padding-bottom: 10px; }
        .home__mainContainer .home__articleContainer .home__divThirdContainer .home__divThird div img {
          width: 190px;
          position: relative;
          top: 37px; }
    .home__mainContainer .home__articleContainer .home__divFourthContainer {
      display: flex;
      justify-content: flex-end;
      padding-top: 50px;
      padding-bottom: 20px; }
      .home__mainContainer .home__articleContainer .home__divFourthContainer .home__divFourth {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 70%;
        text-align: right; }
  .home__mainContainer h2 {
    background-color: blue;
    background-image: linear-gradient(180deg, blue, #42a6af);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  .home__mainContainer p {
    font-size: 18px;
    font-weight: 600; }

@media only screen and (max-width: 420px) {
  .home__mainContainer .home__articleContainer {
    width: 100%; }
    .home__mainContainer .home__articleContainer .home__divFirstContainer {
      padding-top: 20px;
      justify-content: center; }
      .home__mainContainer .home__articleContainer .home__divFirstContainer .home__divFirst {
        align-items: center;
        width: auto;
        text-align: justify;
        padding-right: 20px;
        padding-left: 20px; }
    .home__mainContainer .home__articleContainer .home__divSecondContainer {
      justify-content: center;
      padding-top: 30px; }
      .home__mainContainer .home__articleContainer .home__divSecondContainer .home__divSecond {
        align-items: center;
        padding-right: 20px;
        padding-left: 20px;
        width: auto;
        text-align: justify; }
    .home__mainContainer .home__articleContainer .home__divThirdContainer {
      justify-content: center;
      padding-top: 30px; }
      .home__mainContainer .home__articleContainer .home__divThirdContainer .home__divThird {
        align-items: center;
        padding-right: 20px;
        padding-left: 20px;
        width: auto;
        text-align: justify;
        flex-direction: column; }
        .home__mainContainer .home__articleContainer .home__divThirdContainer .home__divThird ol {
          font-size: 16px; }
          .home__mainContainer .home__articleContainer .home__divThirdContainer .home__divThird ol li {
            padding-bottom: 2px; }
        .home__mainContainer .home__articleContainer .home__divThirdContainer .home__divThird h2 {
          display: flex;
          justify-content: center; }
        .home__mainContainer .home__articleContainer .home__divThirdContainer .home__divThird div img {
          top: 0px; }
    .home__mainContainer .home__articleContainer .home__divFourthContainer {
      justify-content: center;
      padding-top: 30px; }
      .home__mainContainer .home__articleContainer .home__divFourthContainer .home__divFourth {
        align-items: center;
        padding-right: 20px;
        padding-left: 20px;
        width: auto;
        text-align: justify; }
        .home__mainContainer .home__articleContainer .home__divFourthContainer .home__divFourth h2 {
          text-align: center; }
  .home__mainContainer p {
    font-size: 16px;
    font-weight: 600; } }

.contacto__container {
  padding-top: 5px;
  background-color: #ddecf1;
  display: flex;
  flex-direction: column; }
  .contacto__container .contacto__h2 {
    display: flex;
    justify-content: center; }
    .contacto__container .contacto__h2 h2 {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 38px;
      padding: 30px 40px 0px 40px;
      border-bottom: black solid 2px;
      max-width: 80%; }
  .contacto__container .contacto__informacion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px; }
    .contacto__container .contacto__informacion .contacto__bloques {
      text-align: center;
      min-width: 250px;
      margin-right: 35px;
      margin-left: 35px; }
      .contacto__container .contacto__informacion .contacto__bloques .contacto__svg {
        height: 60px;
        margin: 10px;
        display: flex;
        justify-content: center; }
        .contacto__container .contacto__informacion .contacto__bloques .contacto__svg img {
          width: 50px; }
      .contacto__container .contacto__informacion .contacto__bloques .contacto__texto h3 {
        padding-bottom: 10px;
        text-decoration: underline;
        text-transform: uppercase; }
      .contacto__container .contacto__informacion .contacto__bloques .contacto__texto p {
        text-align: center;
        font-weight: bold; }

.titulo__h3 {
  background-color: #ddecf1;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 1px;
  font-size: 32px; }

.cliente__container {
  background-color: #ddecf1; }
  .cliente__container .cliente__subcontainer {
    background-color: #f8efed;
    border-top-right-radius: 500px 70px;
    border-top-left-radius: 500px 70px;
    display: flex;
    flex-direction: column;
    margin: 0px auto 0px auto; }
    .cliente__container .cliente__subcontainer div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 30px 0 30px 0;
      align-items: center;
      min-width: 900px; }
      .cliente__container .cliente__subcontainer div img {
        max-width: 220px;
        margin: 0 30px 0 30px; }

@media only screen and (max-width: 856px) {
  .cliente__container .cliente__subcontainer div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    align-items: center;
    min-width: auto; }
    .cliente__container .cliente__subcontainer div img {
      margin-top: 30px;
      margin-bottom: 30px; }
  .contacto__container .contacto__h2 h2 {
    font-size: 31px; } }

@media only screen and (max-width: 670px) {
  .contacto__container .contacto__h2 h2 {
    font-size: 23px; }
  .contacto__container
.contacto__informacion
.contacto__bloques
.contacto__texto
h3 {
    font-size: 20px; }
  .contacto__container
.contacto__informacion
.contacto__bloques
.contacto__texto
p {
    font-size: 14px; }
  .titulo__h3 {
    font-size: 24px; } }

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding: 15px 0px 15px 0px; }
  .footer__container h2 {
    letter-spacing: 4px;
    text-transform: uppercase; }
  .footer__container .footer__subContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: stretch;
    flex-wrap: wrap; }
    .footer__container .footer__subContainer .footer__anchorContainer {
      position: relative;
      bottom: 25px; }
      .footer__container .footer__subContainer .footer__anchorContainer div img {
        position: relative;
        left: 30px; }
    .footer__container .footer__subContainer div {
      text-align: center;
      flex-direction: column;
      text-transform: uppercase;
      width: 210px;
      margin-top: 15px;
      margin-bottom: 15px;
      position: relative;
      top: 10px; }
      .footer__container .footer__subContainer div h3 {
        margin: auto; }
      .footer__container .footer__subContainer div a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        color: white;
        text-transform: lowercase; }
      .footer__container .footer__subContainer div p {
        margin-bottom: 0px;
        text-align: left;
        padding-left: 34px; }
  .footer__container .footer__seguinos h3 {
    text-transform: uppercase;
    padding: 0px 15px 0px 15px; }
  .footer__container .footer__seguinos div {
    display: flex;
    justify-content: space-around;
    padding: 0px 20px 0px 20px; }

@media only screen and (max-width: 420px) {
  .footer__container .footer__subContainer .footer__anchorContainer div img {
    left: 0px; } }
