.header__mainContainer{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    .header__imgContainer{
        display: flex;
        justify-content: center;
        width: 250px;
        img{
            width: 200px;
        }
    }
}