// .home__mainContainer {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   background: white;
//   .home__articleContainer {
//     display: flex;
//     flex-direction: column;
//     width: 450px;
//     margin: 25px 0px 20px 0px;
//     padding: 0px 20px 0px 20px;
//     .home__divFirst{
//       margin-bottom: 20px;
//     }
//     .home__divThird {
//       margin-top: 20px;
//       ol{
//         li{
//           font-size: 18px;
//           font-weight: 600;
//         }
//       }
//       .home__imgContainer {
//         display: flex;
//         justify-content: center;
//         position: relative;
//         bottom: 20px;
//         img {
//           width: 240px;
//         }
//       }
//     }
//     .home__divSecond {
//       margin-top: 95px;
//     }
//     .home__divFourth {
//       margin-top: 40px;
//     }
//   }
//   h2 {
//     display: flex;
//     justify-content: center;
//     text-align: center;
//     background-color: blue;
//     background-image: linear-gradient(180deg, blue, #42a6af);
//     background-size: 100%;
//     -webkit-background-clip: text;
//     background-clip: text;
//     -webkit-text-fill-color: transparent;
//   }
//   p {
//     display: flex;
//     text-align: justify;
//     font-size: 18px;
//     font-weight: 600;
//   }
// }



.home__mainContainer {
  display: flex;
  justify-content: center;
  background-image: url("../images/ray.svg");
  background-size: 200px;
  background-repeat: repeat;
  background-color: white;
  .home__articleContainer {
    display: flex;
    flex-direction: column;
    width: 60%;

    .home__divFirstContainer {
      display: flex;
      justify-content: flex-start;
      padding-top: 30px;
      .home__divFirst {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
        text-align: left;
      }
    }

    .home__divSecondContainer {
      display: flex;
      justify-content: flex-end;
      padding-top: 50px;
      .home__divSecond {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 70%;
        text-align: right;
      }
    }

    .home__divThirdContainer {
      display: flex;
      justify-content: flex-start;
      padding-top: 50px;
      .home__divThird {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 70%;
        text-align: left;
        ol {
          font-size: 18px;
          font-weight: 600;
          max-width: 470px;
          li {
            padding-bottom: 10px;
          }
        }
        div {
          img {
            width: 190px;
            position: relative;
            top: 37px;
          }
        }
      }
    }

    .home__divFourthContainer {
      display: flex;
      justify-content: flex-end;
      padding-top: 50px;
      padding-bottom: 20px;
      .home__divFourth {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 70%;
        text-align: right;
      }
    }
  }
  h2 {
    background-color: blue;
    background-image: linear-gradient(180deg, blue, #42a6af);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    font-size: 18px;
    font-weight: 600;
  }
}

@media only screen and (max-width: 420px) {
  .home__mainContainer {
    .home__articleContainer {
      width: 100%;
      .home__divFirstContainer {
        padding-top: 20px;
        justify-content: center;
        .home__divFirst {
          align-items: center;
          width: auto;
          text-align: justify;
          padding-right: 20px;
          padding-left: 20px;
        }
      }
      .home__divSecondContainer {
        justify-content: center;
        padding-top: 30px;
        .home__divSecond {
          align-items: center;
          padding-right: 20px;
          padding-left: 20px;
          width: auto;
          text-align: justify;
        }
      }
      .home__divThirdContainer {
        justify-content: center;
        padding-top: 30px;
        .home__divThird {
          align-items: center;
          padding-right: 20px;
          padding-left: 20px;
          width: auto;
          text-align: justify;
          flex-direction: column;
          ol {
            font-size: 16px;
            li {
              padding-bottom: 2px;
            }
          }
          h2{
            display: flex;
            justify-content: center;
          }
          div {
            img {
              top: 0px;
            }
          }
        }
      }
      .home__divFourthContainer {
        justify-content: center;
        padding-top: 30px;
        .home__divFourth {
          align-items: center;
          padding-right: 20px;
          padding-left: 20px;
          width: auto;
          text-align: justify;
          h2{
            text-align: center;
          }
        }
      }
    }
    p {
      font-size: 16px;
      font-weight: 600;
    }
  }
}
